h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #b60e0e;
    text-align: center;  
}

p {
    font-style: italic;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    color: #4c0b0b;
    text-align: center;
}