h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #e50914;
    text-align: center;  
}

p {
    font-style: italic;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    color: #ffffff;
    text-align: center;
}

body {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}
